Body{
    Background: pink;
    font-family: arial;
}

h1{
font-family: Georgia;
color:red; 
text-align: center;
}
h2{
font-family: Georgia;
color:blue;
font-size:20px;
}
h3{
font-family: Georgia;
color:aqua;
}